<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/css/style.css">

	<title>The Test</title>
</head>

<body>
	<h1>The Test</h1>

	<h2>Answer These <%= questions.length %> questions</h2>
	<% questions.forEach((elm) => { %>
	<div class=".question-card">
		<form action="">
			<h3> <%= elm.question %> </h3>
			<% elm.answers.forEach((answer) => { %>
			<input type="radio" id="<%= answer %>" name="<%= elm.question %>">
			<label for="<%= answer %>"> <%= answer %> </label>
			<% }) %>
	</div>
	<% }) %>
	<button class="btn">submit answers</button>
	</form>
</body>

</html>